
.DS_Store

PhotoGlobeAR.xcodeproj/project.xcworkspace/xcuserdata/brucedaniel.xcuserdatad/UserInterfaceState.xcuserstate

PhotoGlobeAR.xcodeproj/project.xcworkspace/xcuserdata/r00t.xcuserdatad/

PhotoGlobeAR.xcodeproj/xcuserdata/r00t.xcuserdatad/xcdebugger/

Pods/

*.xcuserstate
